************************************************************************************************
*                                                                                              *
* DRILL TAPE SUMMARY REPORT                                                                    *
*                                                                                              *
* C:\USERS\RITCH\GOOGLE_RITCHIE\DEVELOPMENT\REYAX\RYS8830\LAYOUT_EVB_V1.2\RYS8830_EVB_V12.MAX  *
* Thu Sep 17 23:14:44 2020                                                                     *
*                                                                                              *
************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       120      168      200      100                                                                                 
T2       276      2        200      100                                                                                 
T3       370      12       200      100                                                                                 
T4       433      2        200      100                                                                                 
